<ion-header>
    <ion-navbar>
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>Change Password</ion-title>
    </ion-navbar>
</ion-header>
<ion-content has-bouncing="true" no-padding> <!-- [ngStyle]="{'background-image': 'url(' + restroImage() + ')'}"> -->
    <!-- <ion-list *ngIf="passwordp"> -->
        <form [formGroup]="passwordForm" (ngSubmit)="passwordUpdate()">
            <ion-item>
                <ion-label floating>Old Password</ion-label>
                <ion-input type="text" formControlName="oldpassword" (change)="oldpassword()"></ion-input>
            </ion-item>
            <div *ngIf="oldmatch" class="alert alert-danger mt-3" margin-horizontal>
                Old Password not matching!
            </div>
            <ion-item>
                <ion-label floating>New Password</ion-label>
                <ion-input type="password" formControlName="password" [pattern]="passwordp" (keyup)="matchpassword('pass')"></ion-input>
            </ion-item>
            <div *ngIf="formErrors.password" class="alert alert-danger mt-3" margin-horizontal > 
                {{ formErrors.password }}
            </div>
            <ion-item>
                <ion-label floating>Confirm Password</ion-label>
                <ion-input type="password" [pattern]="passwordp" formControlName="confirmpassword" (keyup)="matchpassword('match')"></ion-input>
            </ion-item>
                
            <div class="alert alert-danger mt-3" margin-horizontal *ngIf="MutchPassword">Password not match</div>
            <button ion-button color="secondary" full [disabled]="!passwordForm.valid">Change Password</button>
        </form>
    <!-- </ion-list> -->
</ion-content>