page-change-password{
	.alert-danger{
		color: #a94442;
	    background-color: #f2dede;
	    border-color: #ebccd1;
	}

	.alert {
	    padding: 1rem;
	    margin-bottom: 1rem;
	    margin-top: 1rem;
	    border: 1px solid transparent;
	    border-radius: 4px;
	}
}