page-offer {
	ion-item{
		border: 1px solid #449D44 !important;
	    font-size: 2.5vh !important;
	    background: #eaeaea !important;
	    padding: 0 1vh !important;
	    margin-bottom : 1vh !important;
	}

	ion-item .item-inner{
	    padding: 0 !important;
	    border : none !important
	}

	

	.displayGrid{
	    background: #449D44;
	    color: white;
	}

}
