page-refer {

	ion-row .button-default{
		background-color : #449D44 !important;
		height : 2em !important;
		margin-top: 2vh !important;
	}

	.text-input{
		border-bottom: 1px solid lightgrey;
	}

	.marginBottom5vh{
		margin-bottom : 5vh;
	}

	.desc{
		text-align : justify !important;
	}

	.marginTop0{
		margin-top : 0 !important;
	}
}
